
.container {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 2em;
  background-color: #e9f5e9;;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
  color: #006400; /* Dark Green */
}

p {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 2em;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

button {
  padding: 0.5em 1em;
  margin: 0.5 0.5em;
  margin: 1em;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.25em;
  background-color: #009c00;
  color: white;
}

button:hover {
  background-color: #ddd;
}

.home-button {
  background-color: #009c00; /* Green */
  color: #fff;
}

.home-button:hover {
  background-color: #006400; /* Darker Green */
}

.view-button {
  background-color: #009c00; /* Red */
  color: #fff;
}

.view-button:hover {
  background-color: #006400; /* Darker Red */
}
